<div class="container">
    <div class="row">
        <br>
        <br>

        <div class="col-xs-4">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div
                        id="user-data"
                        ngModelGroup="userData"
                        #userData="ngModelGroup">
                    <div class="form-group">
                        <label for="amount" style="font-size: 25px">Enter Amount</label>
                        <input
                                type="number"
                                id="amount"
                                class="form-control"
                                ngModel
                                name="amount"
                                required>
                        <p *ngIf="!userData.valid && userData.touched">Please Enter valid Amount multiple of 100 s</p>
                    </div>
                    <br>
                    <button  class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>
